@{
    ViewData["Title"] = "AddOrUpdate";
}

<div class="row" id="tblLoader">
    <div class="col-md-12 card card-primary">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <h4>New Product</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 offset-md-4 card" style="background-color:#ededed">
                        <label for="txtName">Product Name</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Product Name">
                        <br />
                    </div>
                </div>
            </div>

            <br />


            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 offset-md-4 card" style="background-color:#ededed">
                        <div class="card-header">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Ingredient Name" id="txtIngredient" >
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="tblIngredientList" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="10%">SL#</th>
                                        <th width="80%">Name</th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <br />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>
@section scripts{
    <script>

        $(document).ready(function() {


        });




        function WaitForMe(div, message) {
            $(div).waitMe({
                effect: 'win8',
                text: message,
                bg: 'rgba(255,255,255,0.7)',
                color: '#000000',
                maxSize: 30,
                waitTime: -1,
                textPos: 'vertical',
                fontSize: '',
                source: '',
                onClose: function() { }
            })
        }
        function hideWaitForMe(div) {
            $(div).waitMe("hide");
        }
    </script>
}



