@{
    ViewData["Title"] = "Index";
}

<div class="row" id="tblLoader">
    <div class="col-md-12 card card-primary">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <h4>New Order</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 offset-md-4 card" style="background-color:#ededed;padding:10px">
                        <div class="input-group mb-3">
                            <input type="hidden" id="hdnProductId" />
                            <input type="text" class="form-control" id="txtProductName" placeholder="Product Name">
                            <div class="input-group-append">
                                <button class="btn btn-success" id="btnAddProductInList" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />


            <div class="row">
                <div class="col-md-12 card" style="background-color:#ededed">
                    <div class="card-body">
                        <table id="tblProductList" class="table">
                            <thead>
                                <tr>
                                    <th>Sl</th>
                                    <th>Product Id</th>
                                    <th>Product Name</th>
                                    <th>Total Ingredient</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12 card" style="background-color:#ededed">
                    <div class="card-body">
                        <table id="tblIngredientList" class="table">
                            <thead>
                                <tr>
                                    <th>Sl</th>
                                    <th>Product Id</th>
                                    <th>Product Name</th>
                                    <th>Ingredient Id</th>
                                    <th>Ingredient Name</th>
                                    <th>Total Ingredient</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br />


            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 offset-md-4 card" style="background-color:#ededed">
                        <div class="card-body text-center">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script>
        //https://editor.datatables.net/examples/inline-editing/simple
        $(document).ready(function() {

            

            var dtProductList = [];
            var dtIngredientList = [];

            ProductAutocomplet();


            var tblProductList = buildProductTable(dtProductList);
            var tblIngredientList = buildIngredientTable(dtIngredientList);

            $('#btnAddProductInList').click(() => {
                var sl = dtProductList.length;
                var productId = $('#hdnProductId').val();
                var productName = $('#txtProductName').val();
                var newProduct = { 'sl': sl + 1, 'productId': productId, 'productName': productName, 'total': 0 };
                dtProductList.push(newProduct);
                $('#hdnProductId').val('');
                $('#txtProductName').val('');

                tblProductList = buildProductTable(dtProductList);

                $.ajax({
                    url: '@Url.Action("GetAllIngredientsById","Ingredients")',
                    type: 'GET',
                    data: { productId: productId }
                }).done(response => {
                    $.each(response, (index, element) => {
                        dtIngredientList.push(element);
                    });

                    tblIngredientList = buildIngredientTable(dtIngredientList);
                }).fail(err => { });



            });
        });

        function buildProductTable(dtProductList) {
            var tblProductList = $('#tblProductList').dataTable({
                data: dtProductList,
                columns: [
                    { 'data': 'sl' },
                    { 'data': 'productId' },
                    { 'data': 'productName' },
                    { 'data': 'total' },
                    {
                        data: 'sl',
                        render: function(data, type, row) {
                            return '<a href="Accounts/Home/Details/' + row.sl + '" target="_blank">' + row.sl + '</a>';
                        },
                    }
                ],
                "bDestroy": true,
                "fnDrawCallback": function(oSettings) {

                }
            });
            return tblProductList;
        }

        function buildIngredientTable(dtIngredientList) {
            var tblIngredientList = $('#tblIngredientList').dataTable({
                data: dtIngredientList,
                columns: [
                    { 'data': 'sl' },
                    { 'data': 'productId' },
                    { 'data': 'productName' },
                    { 'data': 'ingredientId' },
                    { 'data': 'ingredientName' },
                    { 'data': 'totalIngredient' },
                    {
                        data: 'sl',
                        render: function(data, type, row) {
                            return '<a href="Accounts/Home/Details/' + row.sl + '" target="_blank">' + row.sl + '</a>';
                        },
                    }
                ],
                "bDestroy": true,
                "fnDrawCallback": function(oSettings) {

                }
            });
            return tblIngredientList;
        }

        function ProductAutocomplet() {

            $('#txtProductName').autocomplete({
                source: function(request, response) {
                    $.ajax({
                        type: "GET",
                        url: "/Products/GetProductsByName",
                        data: { name: this.term },
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                change: function(event, ui) {
                    if (!ui.item) {
                        $('#txtProductName').val('');
                        $('#hdnProductId').val('');
                    }
                },
                select: function(e, ui) {
                    $('#hdnProductId').val(ui.item.id);
                }
            }).focus(function() {
                $(this).autocomplete('search', ' ');
            });
        }


        function WaitForMe(div, message) {
            $(div).waitMe({
                effect: 'win8',
                text: message,
                bg: 'rgba(255,255,255,0.7)',
                color: '#000000',
                maxSize: 30,
                waitTime: -1,
                textPos: 'vertical',
                fontSize: '',
                source: '',
                onClose: function() { }
            })
        }
        function hideWaitForMe(div) {
            $(div).waitMe("hide");
        }
    </script>
}

